LiveChess2Fen/data/dataset/tmp/pieces/_5_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_0_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_1_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_2_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_3_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_4_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_5_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_6_7.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_0.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_1.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_2.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_3.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_4.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_5.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_6.jpg
LiveChess2Fen/data/dataset/tmp/pieces/_7_7.jpg
*pyc
*log
*swp
