<!DOCTYPE html>
<html>

<head>
      <meta charset="UTF-8">
      <title>Détection d'Objets Hailo</title>
      <style>
            body {
                  font-family: Arial, sans-serif;
                  text-align: center;
                  background-color: #f0f0f0;
            }

            h1 {
                  color: #333;
            }

            img {
                  border: 2px solid #555;
                  max-width: 90%;
                  height: auto;
            }
      </style>
</head>

<body>
      <h1>Flux de Détection d'Objets</h1>
      <video src="http://192.168.50.2:9999/" alt="Live Stream MJPEG" autoplay controls muted></video>
</body>

</html>